footer {
  width: 1280px;
  height: 176px;
  padding: 58px 0;
  margin: 0 auto;
}
footer div a {
  font-size: 18px;
  float: left;
  margin: 0 5px;
  color: #000;
}
footer div .right {
  float: right;
}
footer div .right a {
  margin: 0 10px;
}
footer div .right .wx {
  margin-left: 52px;
  margin-right: 15px;
}
footer div .right .country {
  padding-left: 20px;
  background: url("../images/country.png") no-repeat left center;
  background-size: 20px 20px;
}
footer div .right .wx {
  position: relative;
}
footer div .right .wx .ewm {
  position: absolute;
  left: -78px;
  bottom: 38px;
  display: none;
}
footer div .right .wx:hover .ewm {
  display: block;
}
footer p {
  clear: both;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 60px;
  line-height: 32px;
  color: #818181;
}
footer p a {
  color: #818181;
  display: inline-block;
  margin-top: 10px;
}
footer p a:hover {
  text-decoration: underline;
}
