.banner {
  width: 100%;
  margin-top: 70px;
  height: 684px;
}
.banner img {
  width: 100%;
  height: 684px;
}
.banner .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 1;
}
.banner .swiper-pagination-bullet-active {
  background: #ffb300;
}

.car-select {
  width: 100%;
  min-width: 1280px;
  height: 428px;
  padding: 52px 0 0;
  background: url("../images/block1.jpg") center/cover no-repeat;
}
.car-select .car-bg {
  width: 1280px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.car-select .car-bg .car-s {
  overflow: hidden;
  width: 1280px;
  height: 352px;
}
.car-select .car-bg .car-s .swiper-container {
  width: 256px;
  overflow: visible;
  height: 100%;
  padding: 80px 0 0;
}
.car-select .car-bg .car-s .swiper-container .swiper-wrapper {
  width: 256px;
}
.car-select .car-bg .car-s .swiper-container .swiper-slide {
  width: 256px;
  text-align: center;
  transition: all 0.5s;
}
.car-select .car-bg .car-s .swiper-container .swiper-slide img {
  width: 248px;
  display: block;
}
.car-select .car-bg .car-s .swiper-container .swiper-slide h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}
.car-select .car-bg .car-s .swiper-container .swiper-slide h4 {
  visibility: hidden;
  font-size: 12px;
}
.car-select .car-bg .car-s .swiper-container .swiper-slide .car-flow {
  opacity: 0;
  transition: 1s;
  position: relative;
  top: -24px;
}
.car-select .car-bg .car-s .swiper-container .swiper-slide-active {
  transform: scale(1.5);
}
.car-select .car-bg .car-s .swiper-container .swiper-slide-active h4 {
  visibility: visible;
}
.car-select .car-bg .car-s .swiper-container .swiper-slide-active .car-flow {
  opacity: 1;
  transform: scaleY(2);
}
.car-select .car-bg .swiper-button-prev {
  left: -12px;
  background-image: url("../images/prev.png");
}
.car-select .car-bg .swiper-button-prev:hover {
  background-image: url("../images/prev_hover.png");
}
.car-select .car-bg .swiper-button-next {
  right: -12px;
  background-image: url("../images/next.png");
}
.car-select .car-bg .swiper-button-next:hover {
  background-image: url("../images/next_hover.png");
}
.car-select .car-bg .drag {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 29px;
  transform: translateX(-4px);
  bottom: 88px;
  opacity: 0;
  transition: 0.5s;
}
.car-select .car-bg:hover .drag {
  opacity: 1;
}

.jeepSever-bg {
  width: 100%;
  background: black;
  height: 442px;
}
.jeepSever-bg .jeepSever {
  height: 100%;
  width: 1280px;
  display: flex;
}
.jeepSever-bg .jeepSever a {
  flex: 1;
  float: left;
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
}
.jeepSever-bg .jeepSever a img {
  display: block;
  height: 456px;
  transition: all 0.6s;
  transform: translateX(-28px);
}
.jeepSever-bg .jeepSever a:nth-of-type(even) {
  top: -30px;
}
.jeepSever-bg .jeepSever a:nth-of-type(odd) {
  top: -55px;
}
.jeepSever-bg .jeepSever a:hover {
  flex: 1.5;
}
.jeepSever-bg .jeepSever a:hover img {
  transform: translateX(0px);
}

.jeep-club-bg {
  margin-top: 30px;
  text-align: center;
  height: 1291px;
  background: url("../images/block3.jpg") no-repeat bottom;
  background-size: 100%;
}
.jeep-club-bg h2 {
  font-size: 40px;
  font-weight: 600;
}
.jeep-club-bg p {
  font-size: 26px;
}
.jeep-club-bg .jeep-club-img {
  width: 1280px;
  position: relative;
  display: flex;
  justify-content: center;
}
.jeep-club-bg .jeep-club-img img {
  width: 100%;
  display: block;
}
.jeep-club-bg .jeep-club-img .jeep-jz {
  position: absolute;
  overflow: hidden;
  bottom: -66px;
}
.jeep-club-bg .jeep-club-img .jeep-jz a, .jeep-club-bg .jeep-club-img .jeep-jz img {
  float: left;
  width: 324px;
}
.jeep-club-bg .jeep-club-img .jeep-jz a {
  margin: 0 5px;
  position: relative;
}
.jeep-club-bg .jeep-club-img .jeep-jz a span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  background: #ffb300;
  opacity: 0;
  transition: 0.5s;
}
.jeep-club-bg .jeep-club-img .jeep-jz a:hover span {
  opacity: 1;
}

.jeep-link-bg {
  width: 100%;
  height: 230px;
  background: #e7e7e7;
  position: relative;
  display: flex;
  justify-content: center;
}
.jeep-link-bg .jeep-link {
  position: absolute;
  top: -128px;
}
.jeep-link-bg .jeep-link a {
  float: left;
  width: 420px;
  overflow: hidden;
  text-align: center;
}
.jeep-link-bg .jeep-link a div {
  width: 420px;
  height: 279px;
  overflow: hidden;
}
.jeep-link-bg .jeep-link a img {
  display: block;
  width: 100%;
  transition: all 1s;
}
.jeep-link-bg .jeep-link a img:hover {
  transform: scale(1.2);
}
.jeep-link-bg .jeep-link a:nth-of-type(2) {
  margin: 0 10px;
}
.jeep-link-bg .jeep-link a h3 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
}
.jeep-link-bg .jeep-link a h3 img {
  width: 12px;
  display: inline-block;
  position: relative;
  top: 2px;
  left: 8px;
  transition: 0.5s;
}
.jeep-link-bg .jeep-link a:hover h3 img {
  left: 15px;
}
