<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="icon" href="../static/images/icon.jpg">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/cart.css">
</head>

<body>
    <div class="cart-wrap">
    </div>
    <ul class="cart">
        <!-- <li>
                <img src="../static/images/cartype1.png" alt="">
                <h3>全新Jeep自由侠</h3>
                <p>专业级趣驾</p>
                <h4>￥25万起</h4>
                <span>立即购买</span>
                
            </li> -->
    </ul>


    <script src="../static/scripts/cookie.js"></script>
    <script src="../static/scripts/ajax.js"></script>
    <script src="../static/scripts/cart.js"></script>
</body>

</html>