<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jeep首页</title>
    <link rel="icon" href="../static/images/icon.jpg">
    <link rel="stylesheet" href="../static/css/head.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/swiper.css">
</head>

<body>
    <header id='head'>
        <div class="bx">
            <a class="logo" href="index.html">
                <img src="../static/images/logo.png" alt="">
            </a>
            <ul class="left">
                <li>品牌车型
                    <div class="head-car">
                        <ul>
                            <li code="1"><a href="shop.html" target="_blank"><img src="../static/images/k8.png" alt=""></a></li>
                            <li code="2"><a href="shop.html" target="_blank"><img src="../static/images/k85.png" alt=""></a></li>
                            <li code="3"><a href="shop.html" target="_blank"><img src="../static/images/k4m.png" alt=""></a></li>
                            <li code="4"><a href="shop.html" target="_blank"><img src="../static/images/k4.png" alt=""></a></li>
                            <li code="5"><a href="shop.html" target="_blank"><img src="../static/images/csuv.png" alt=""></a></li>
                            <li code="6"><a href="shop.html" target="_blank"><img src="../static/images/bsuvm.png" alt=""></a></li>
                            <li code="7"><a href="shop.html" target="_blank"><img src="../static/images/bsuv.png" alt=""></a></li>
                            <li code="8"><a href="shop.html" target="_blank"><img src="../static/images/jl.png" alt=""></a></li>
                            <li code="9" class="no-border"><a href="shop.html" target="_blank"><img src="../static/images/jk.png"
                                        alt=""></a></li>
                            <li code="10" class="no-border"><a href="shop.html" target="_blank"><img src="../static/images/wk.png"
                                        alt=""></a></li>
                        </ul>
                        <div class="car-img">
                            <a href="#"><img src="../static/images/nav-cars-news-wk.jpg" alt=""></a>
                            <a href="#"><img src="../static/images/nav-cars-filter.jpg" alt=""></a>
                            <a href="#"><img src="../static/images/nav-cars-financial.jpg" alt=""></a>
                        </div>
                    </div>
                </li>
                <li><a href="life.html">JeepLife</a></li>
                <li><a href="#">购车支持</a></li>
                <li><a href="#">Jeep全境界</a></li>
                <li><a href="#">品牌信息</a></li>
                <li><a href="suv.html">专业SUV再进化</a></li>
            </ul>
            <ul class="right">
                <li>
                    <a href="buy.html" target="_blank">订单</a>
                </li>
                <li>
                    <a href="cart.html" target="_blank">
                        <img src="../static/images/shop_car.png" alt="">
                    </a>
                </li>
                <li class="head-login">
                    <a href="login.html"><span></span></a>
                    <div>
                        <img src="../static/images/me.png" alt="">
                        <em>hello</em>
                        <i>注销用户</i>
                    </div>
                </li>
            </ul>
        </div>

        <ul class="carbuy">
            <li class="head-order"><img src="../static/images/floatNav.png" alt=""></li>
            <li class="head-shop"><a href="shop.html" target="_blank"><img src="../static/images/floatNav.png"
                        alt=""></a></li>
        </ul>
        <div class="order-bg">
            <div class="order">
                <div class="order-close">
                    <img src="../static/images/close.png" alt="">
                </div>
                <h1>申请试驾</h1>
                <div class="sel">
                    <h3>选择您的爱车</h3>
                    <select id="cartype">
                        <option value="0221">全新Jeep大指挥官</option>
                        <option value="0221">全新Jeep指挥官</option>
                        <option value="0223">全新Jeep自由光</option>
                        <option value="0214">全新Jeep自由光典尚版</option>
                        <option value="0219">Jeep指南者</option>
                        <option value="0216">全新Jeep自由侠</option>
                        <option value="0222">全新一代Jeep牧马人</option>
                        <option value="0206">进口Jeep牧马人</option>
                        <option value="0205">进口Jeep大切诺基</option>
                    </select>
                    <span><img src="../static/images/cartype1.png" alt=""></span>
                    <h3>您的个人信息</h3>
                    <input type="text" placeholder="姓名：">
                    <br>
                    <input type="text" placeholder="手机号">
                    <p>您的个人信息我们将严格保密，请放心填写</p>
                    <div>
                        <input type="checkbox">我同意Jeep品牌的《隐私声明》条约与条件
                        <br>
                        <img src="../static/images/sj_btn.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="banner">
        <div class="swiper-container ban">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../static/images/qyxj.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/images/bsuvm.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/images/k4m.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/images/csuv3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/images/30wy.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/images/k8.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/images/jl.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../static/images/wk.jpg" alt=""></div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="car-select">
        <div class="car-bg">
            <div class="car-s">
                <div class="swiper-container car-sel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>全新Jeep大指挥官</h3>
                                <h4>专业级全场合高端</h4>
                                <img class="carCode" code="1" src="../static/images/carsflow-k8.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>全新Jeep指挥官</h3>
                                <h4>专业级高端大五座</h4>
                                <img class="carCode" code="2" src="../static/images/carsflow-k85.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>全新Jeep自由光</h3>
                                <h4>专业级全驾控都市</h4>
                                <img class="carCode" code="3" src="../static/images/carsflow-k4m.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>Jeep自由光典尚版</h3>
                                <img class="carCode" code="4" src="../static/images/carsflow-k4.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>全新Jeep指南者</h3>
                                <h4>专业级中高端城市</h4>
                                <img class="carCode" code="5" src="../static/images/carsflow-csuv.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>全新Jeep自由侠</h3>
                                <h4>专业级超驾趣</h4>
                                <img class="carCode" code="6" src="../static/images/carsflow-bsuvm.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>Jeep自由侠</h3>
                                <img class="carCode" code="7" src="../static/images/carsflow-bsuv.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>全新Jeep牧马人</h3>
                                <h4>全球偶像SUV</h4>
                                <img class="carCode" code="8" src="../static/images/carsflow-jk.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>进口Jeep牧马人</h3>
                                <img class="carCode" code="9" src="../static/images/carsflow-jl.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="shop.html">
                                <h3>进口Jeep大切诺基</h3>
                                <h4>进口专业级豪华</h4>
                                <img class="carCode" code="10" src="../static/images/carsflow-wk.png" alt="">
                                <img class="car-flow" src="../static/images/carsflow-active.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <img class="drag" src="../static/images/drag.png" alt="">
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div class="jeepSever-bg">
        <div class="jeepSever bx">
            <a href="#"><img src="../static/images/block1-f-1.jpg" alt=""></a>
            <a href="#"><img src="../static/images/block1-f-5.jpg" alt=""></a>
            <a href="#"><img src="../static/images/block1-f-4.jpg" alt=""></a>
            <a href="#"><img src="../static/images/block1-f-3.jpg" alt=""></a>
        </div>
    </div>

    <div class="jeep-club-bg">
        <div class="jeep-club bx">
            <h2>Jeep 探享俱乐部</h2>
            <p>独特SUV生活方式的体验和分享平台始终与最爱出行的Jeepr们一起分享一份志同道合的情怀</p>
            <div class="jeep-club-img">
                <img src="../static/images/block2-1.jpg" alt="">
                <div class="jeep-jz">
                    <a href="#">
                        <img src="../static/images/block2-nav-1.jpg" alt="">
                        <span></span>
                    </a>
                    <a href="#">
                        <img src="../static/images/block2-nav-2.jpg" alt="">
                        <span></span>
                    </a>
                    <a href="#">
                        <img src="../static/images/block2-nav-3.jpg" alt="">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="jeep-link-bg">
        <div class="jeep-link bx">
            <a href="#">
                <div>
                    <img src="../static/images/block3-1.jpg" alt="">
                </div>
                <h3>查找经销商<img src="../static/images/next_hover.png" alt=""></<img>
                </h3>
            </a>
            <a href="#">
                <div>
                    < <img src="../static/images/block3-2.jpg" alt="">
                </div>
                <h3>预约试驾<img src="../static/images/next_hover.png" alt=""></<img>
                </h3>
            </a>
            <a href="#">
                <div>
                    <img src="../static/images/block3-3.jpg" alt="">
                </div>
                <h3>在线咨询<img src="../static/images/next_hover.png" alt=""></<img>
                </h3>
            </a>
        </div>
    </div>

    <footer>
        <div>
            <a href="#" class="ys">隐私声明 | </a>
            <a href="#" class="phone">专享热线400 6500 118</a>
            <span class="right">
                <a href="#" class="CHRYSLER">CHRYSLER</a>
                <a href="#" class="DODGE">DODGE</a>
                <a href="#" class="Jeep">Jeep<sub>®</sub></a>
                <a href="#" class="country">FIND YOUR COUNTRY</a>
                <a href="#" class="wx">
                    <img src="../static/images/wx.png" alt="">
                    <img class="ewm" src="../static/images/footer-qr.png" alt="">
                </a>
                <a href="#" class="wb"><img src="../static/images/wb.png" alt=""></a>
            </span>
        </div>
        <p>
            网站中所有产品图片及文字说明均有可能变更。克莱斯勒[中国]汽车销售有限公司/广汽菲亚特克莱斯勒汽车销售有限公司保留对所描述车型进行更改的权利，并且任何时候都无需承担因以产品改进为目的的设计和[或]市场营销等原因而必须提前通知的义务。
            <br><a href="#">沪ICP备16032951号-5</a>
        </p>
    </footer>
    <script src="../static/scripts/cookie.js"></script>
    <script src="../static/scripts/swiper.js"></script>
    <script src="../static/scripts/head.js"></script>
    <script src="../static/scripts/index.js"></script>
    <script>
        var mySwiper1 = new Swiper('.ban', {
            // loop: true,
            autoplay: 2500,
            speed: 500,
            // 如果需要分页器
            spaceBetween: 20,
            pagination: '.swiper-pagination',
            paginationClickable: true,

        })
        var mySwiper2 = new Swiper('.car-sel', {
            loop: true,
            width: 256,
            loopAdditionalSlides: 2,
            slidesPerView: 'auto',
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
        })
    </script>
</body>

</html>