<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jeep Life</title>
    <link rel="icon" href="../static/images/icon.jpg">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/head.css">
    <link rel="stylesheet" href="../static/css/life.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <header id="head">
        <div class="bx">
            <a class="logo" href="index.html">
                <img src="../static/images/logo.png" alt="">
            </a>
            <ul class="left">
                <li>品牌车型
                    <div class="head-car">
                        <ul>
                            <li><a href="#"><img src="../static/images/k8.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/k85.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/k4m.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/k4.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/csuv.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/bsuvm.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/bsuv.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/jl.png" alt=""></a></li>
                            <li class="no-border"><img src="../static/images/jk.png" alt=""><a href="#"></a></li>
                            <li class="no-border"><img src="../static/images/wk.png" alt=""><a href="#"></a></li>
                        </ul>
                        <div class="car-img">
                            <a href="#"><img src="../static/images/nav-cars-news-wk.jpg" alt=""></a>
                            <a href="#"><img src="../static/images/nav-cars-filter.jpg" alt=""></a>
                            <a href="#"><img src="../static/images/nav-cars-financial.jpg" alt=""></a>
                        </div>
                    </div>
                </li>
                <li><a href="life.html">JeepLife</a></li>
                <li><a href="#">购车支持</a></li>
                <li><a href="#">Jeep全境界</a></li>
                <li><a href="#">品牌信息</a></li>
                <li><a href="suv.html">专业SUV再进化</a></li>
            </ul>
            <ul class="right">
                <li><a href="#">查询经销商</a></li>
                <li><a href="#">预约试驾</a></li>
                <li><a href="#">登录 / 注册</a></li>
            </ul>
        </div>
    </header>
    <div class="nav-bg">
        <div class="nav ">
            <ul class="bx">
                <li><a value="history">车型历史</a></li>
                <li><a value=exploreClub>探享俱乐部</a></li>
                <li class="top"><a value="head"><img src="../static/images/arrow-top.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>

    <div id="history">
        <div class="his-head">
            <h2>车型历史</h2>
        </div>
        <img src="../static/images/b1.jpg" alt="">
        <div class="his-text1 bx">
            <img src="../static/images/b_text1.png" alt="">
            <img src="../static/images/triangle.png" alt="" class="his-jt">
        </div>
        <div class="his-year">
            <div class="year-head bx">
                <a value="1940s">1940s</a>
                <a value="1950s">1950s</a>
                <a value="1960s">1960s</a>
                <a value="1970s">1970s</a>
                <a value="1980s">1980s</a>
                <a value="1990s">1990s</a>
                <a value="2000s">2000s</a>
                <a value="2010s">2010s</a>
            </div>
            <div class="year-content bx">
                <img id="1940s" src="../static/images/car1.jpg" alt="">
                <img id="1950s" src="../static/images/car2.jpg" alt="">
                <img id="1960s" src="../static/images/car3.jpg" alt="">
                <img id="1970s" src="../static/images/car4.jpg" alt="">
                <img id="1980s" src="../static/images/car5.jpg" alt="">
                <img id="1990s" src="../static/images/car6.jpg" alt="">
                <img id="2000s" src="../static/images/car7.jpg" alt="">
                <img id="2010s" src="../static/images/car8.jpg" alt="">
            </div>
        </div>
    </div>

    <div id="exploreClub">
        <h2 class="club-head">探享俱乐部</h2>
        <img src="../static/images/h_bg2.jpg" alt="">
        <div class="club-content">
            <img src="../static/images/b_text2.png" alt="">
            <img src="../static/images/triangle.png" alt="">
            <img src="../static/images/h_bg3.jpg" alt="">
            <img src="../static/images/h_bg4.jpg" alt="">
            <div class="club-play">
                <div class="club-go">

                    <h3>极致旅行</h3>
                    <div class="club-banner">
                        <div class="img-content">
                            <div class="one">
                                <img src="../static/images/t1.jpg" alt="">
                                <img src="../static/images/tc_title1.png" alt="">
                            </div>
                            <div class="two">
                                <img src="../static/images/t2.jpg" alt="">
                                <img src="../static/images/tc_title2.png" alt="">
                            </div>
                            <div class="three">
                                <img src="../static/images/t3.jpg" alt="">
                                <img src="../static/images/tc_title3.png" alt="">
                            </div>
                        </div>
                        <div class="club-num">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="left">
                            <img src="../static/images/leftBtn.png" alt="">
                        </div>
                        <div class="right">
                            <img src="../static/images/rightBtn.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="club-run">
                    <h3>极致跑酷</h3>
                    <div class="run-content">
                        <img src="../static/images/r1.jpg" alt="">
                        <img src="../static/images/Atlas_info.png" alt="">
                    </div>
                </div>

                <div class="club-photo">
                    <h3>极致摄影</h3>
                    <img src="../static/images/pg1.jpg" alt="">
                    <div class="photo-content">
                        <div class="photo-jj">
                            <img src="../static/images/c1.jpg" alt="">
                            <span>活动集锦</span>
                        </div>
                        <div class="photo-zp">
                            <img src="../static/images/c2.jpg" alt="">
                            <span>优秀作品</span>
                        </div>
                        <div class="photo-sp">
                            <img src="../static/images/pg_Gallerytext.png" alt="">
                            <img src="../static/images/video2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div>
            <a href="#" class="ys">隐私声明 | </a>
            <a href="#" class="phone">专享热线400 6500 118</a>
            <span class="right">
                <a href="#" class="CHRYSLER">CHRYSLER</a>
                <a href="#" class="DODGE">DODGE</a>
                <a href="#" class="Jeep">Jeep<sub>®</sub></a>
                <a href="#" class="country">FIND YOUR COUNTRY</a>
                <a href="#" class="wx">
                    <img src="../static/images/wx.png" alt="">
                    <img class="ewm" src="../static/images/footer-qr.png" alt="">
                </a>
                <a href="#" class="wb"><img src="../static/images/wb.png" alt=""></a>
            </span>
        </div>
        <p>
            网站中所有产品图片及文字说明均有可能变更。克莱斯勒[中国]汽车销售有限公司/广汽菲亚特克莱斯勒汽车销售有限公司保留对所描述车型进行更改的权利，并且任何时候都无需承担因以产品改进为目的的设计和[或]市场营销等原因而必须提前通知的义务。
            <br><a href="#">沪ICP备16032951号-5</a>
        </p>
    </footer>
    <script src="../static/scripts/head.js"></script>
    <script src="../static/scripts/life.js"></script>
    </script>
</body>

</html>