<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>专业SUV再进化</title>
    <link rel="icon" href="../static/images/icon.jpg">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/head.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/suv.css">
</head>

<body>
    <header id="head">
        <div class="bx">
            <a class="logo" href="index.html">
                <img src="../static/images/logo.png" alt="">
            </a>
            <ul class="left">
                <li>品牌车型
                    <div class="head-car">
                        <ul>
                            <li><a href="#"><img src="../static/images/k8.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/k85.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/k4m.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/k4.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/csuv.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/bsuvm.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/bsuv.png" alt=""></a></li>
                            <li><a href="#"><img src="../static/images/jl.png" alt=""></a></li>
                            <li class="no-border"><img src="../static/images/jk.png" alt=""><a href="#"></a></li>
                            <li class="no-border"><img src="../static/images/wk.png" alt=""><a href="#"></a></li>
                        </ul>
                        <div class="car-img">
                            <a href="#"><img src="../static/images/nav-cars-news-wk.jpg" alt=""></a>
                            <a href="#"><img src="../static/images/nav-cars-filter.jpg" alt=""></a>
                            <a href="#"><img src="../static/images/nav-cars-financial.jpg" alt=""></a>
                        </div>
                    </div>
                </li>
                <li><a href="life.html">JeepLife</a></li>
                <li><a href="#">购车支持</a></li>
                <li><a href="#">Jeep全境界</a></li>
                <li><a href="#">品牌信息</a></li>
                <li><a href="suv.html">专业SUV再进化</a></li>
            </ul>
            <ul class="right">
                <li><a href="#">查询经销商</a></li>
                <li><a href="#">预约试驾</a></li>
                <li><a href="#">登录 / 注册</a></li>
            </ul>
        </div>
    </header>

    <div class="suv-wrap">
        <div class="suv-content">
            <div class="suv-img">
                <div class="suv-one">
                    <img src="../static/images/fa1.png" alt="">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="suv-two">
                    <img src="../static/images/fa2.png" alt="">
                    <span></span>
                    <span></span>
                </div>
                <div class="suv-ball"></div>
                <div class="suv-detail">
                    <div class="detail-img">
                        <img src="../static/images/img1.jpg" alt="">
                        <img src="../static/images/img2.jpg" alt="">
                        <img src="../static/images/img3.jpg" alt="">
                        <img src="../static/images/img4.jpg" alt="">
                        <img src="../static/images/img5.jpg" alt="">
                    </div>
                    <div class="suv-close"></div>
                    <div class="suv-left"><img src="../static/images/leftBtn.png" alt=""></div>
                    <div class="suv-right"><img src="../static/images/rightBtn.png" alt=""></div>
                </div>
            </div>
            <div class="suv-input">
                <label>姓名：<input type="text"></label>
                <label>手机号：<input type="text"></label>
                <select id="cartype">
                    <option value="-1">选择试驾车型</option>
                    <option value="0221">全新Jeep大指挥官</option>
                    <option value="0221">全新Jeep指挥官</option>
                    <option value="0223">全新Jeep自由光</option>
                    <option value="0214">全新Jeep自由光典尚版</option>
                    <option value="0219">Jeep指南者</option>
                    <option value="0216">全新Jeep自由侠</option>
                    <option value="0222">全新一代Jeep牧马人</option>
                    <option value="0206">进口Jeep牧马人</option>
                    <option value="0205">进口Jeep大切诺基</option>
                </select>
                <label>省/直辖市：<input type="tetx"></label>
                <label>市/区：<input type="tetx"></label>
                <p><input type="checkbox"><span>我同意Jeep品牌的《隐私声明》条约与条件</span><button>提交</button></p>

            </div>
        </div>

        <footer>
            <div>
                <a href="#" class="ys">隐私声明 | </a>
                <a href="#" class="phone">专享热线400 6500 118</a>
                <span class="right">
                    <a href="#" class="CHRYSLER">CHRYSLER</a>
                    <a href="#" class="DODGE">DODGE</a>
                    <a href="#" class="Jeep">Jeep<sub>®</sub></a>
                    <a href="#" class="country">FIND YOUR COUNTRY</a>
                    <a href="#" class="wx">
                        <img src="../static/images/wx.png" alt="">
                        <img class="ewm" src="../static/images/footer-qr.png" alt="">
                    </a>
                    <a href="#" class="wb"><img src="../static/images/wb.png" alt=""></a>
                </span>
            </div>
            <p>
                网站中所有产品图片及文字说明均有可能变更。克莱斯勒[中国]汽车销售有限公司/广汽菲亚特克莱斯勒汽车销售有限公司保留对所描述车型进行更改的权利，并且任何时候都无需承担因以产品改进为目的的设计和[或]市场营销等原因而必须提前通知的义务。
                <br><a href="#">沪ICP备16032951号-5</a>
            </p>
        </footer>
    </div>

    <script src="../static/scripts/head.js"></script>
    <script src="../static/scripts/suv.js"></script>
</body>

</html>